<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agrilinks Assignment</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <style>
      li{
        list-style: none;
      }
    </style>
  </head>
  <body>
    <h1 class="m-5">Create New Report (Post Data)</h1>
    <form class="m-5 grid" onsubmit="return false;" id="postForm">
      <div class="row">
        <div class="mb-3 col">
          <label for="userId" class="form-label">User Id</label>
          <input type="text" class="form-control" id="userId" required />
        </div>
        <div class="mb-3 col">
          <label for="marketId" class="form-label">Market Id</label>
          <input type="text" class="form-control" id="marketId" required />
        </div>
        <div class="mb-3 col">
          <label for="marketName" class="form-label">Market Name</label>
          <input type="text" class="form-control" id="marketName"  required/>
        </div>
        <div class="mb-3 col">
          <label for="marketType" class="form-label">Market Type</label>
          <input type="text" class="form-control" id="marketType" required />
        </div>
        <div class="mb-3 col">
          <label for="cmdtyID" class="form-label">Commodity Id</label>
          <input type="text" class="form-control" id="cmdtyID" required />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col">
          <label for="cmdtyName" class="form-label">Commodity Name</label>
          <input type="text" class="form-control" id="cmdtyName" required />
        </div>
        <div class="mb-3 col">
          <label for="priceUnit" class="form-label">Price Unit</label>
          <input type="text" class="form-control" id="priceUnit" required />
        </div>
        <div class="mb-3 col">
          <label for="convFctr" class="form-label">Conversion factor</label>
          <input type="number" class="form-control" id="convFctr" required />
        </div>
        <div class="mb-3 col">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" required />
        </div>
      <button class="btn btn-primary" onclick="postData()">Submit</button>
    </form>
    <div class="card col mt-2">
      <h1>Response</h1>
      <div class="card-body">
        <div class="m-5" id="postData"></div>
      </div>
    </div>
  </div>
    <h1 class="m-5">Get Report (Get Data)</h1>
    <form class="m-5 grid row" onsubmit="return false;" id="getForm">
      <div class="col">
        <div class="mb-3">
          <label for="reportId" class="form-label">Report Id</label>
          <input type="text" class="form-control" id="reportId" required/>
        </div>
        <button class="btn btn-primary" onclick="getData()">Submit</button>
      </div>
      <div class="card col">
        <h1>Get Data</h1>
        <div class="card-body">
          <div class="m-5" id="getData"></div>
        </div>
      </div>
    </form>
    <script src="/testReport.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
